.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.circle {
  width: 4rem;
  height: 4rem;
  border: 10px solid #424242;
  border-right-color: transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
