.container {
  grid-row: span 3;
  padding-bottom: 0;
  position: relative;
}

.search {
  display: flex;
  align-items: center;
  margin: 0.75rem 2rem 1rem 0;
  padding: 0 0 0 0.75rem;
  border: 1px solid #424242;
}
.search svg {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.75rem;
}
.search input {
  width: 100%;
  height: 1.875rem;
  border: none;
  font-size: 1rem;
}

.activiesMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 1.25rem;
  white-space: nowrap;
}
.activiesMenu > div {
  margin: 0.125rem 1.25rem 0.125rem 0 !important;
}
.activiesMenu > div:first-child {
  margin-right: calc(1.25rem + 0.75rem) !important;
  border-radius: 5px;
  background: #e0e0e0;
}

.activiesList {
  position: relative;
}
.activiesList::before {
  content: '';
  position: absolute;
  left: calc(0.875rem - 1px);
  display: block;
  width: 2px;
  height: calc(100% - 1rem);
  margin-top: 1rem;
  background: #b8b8b8;
}
.activiesList > *:first-child {
  margin-top: 1.375rem;
}
