.container {
  grid-row: 1 / -1;
  background: #fafafa;
  box-shadow: 2px 2px 7px #dadada;
}
.menu {
  cursor: pointer;
  height: 4.375rem;
  padding: 1.3125rem;
  background: #1976d2;
}
.menu .line {
  display: block;
  width: 1.75rem;
  height: 0.1875rem;
  border-radius: 3rem;
  background: #fff;
  box-shadow: 0 -7.5px 0 #fff, 0 7.5px 0 #fff;
}
