*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  border: none;
}
img,
svg {
  display: block;
}

.container {
  display: grid;
  grid: 4.375rem 1fr / 4.375rem 1fr;
  background: #fafafa;
  height: 100vh;
}
.content {
  display: grid;
  grid: repeat(3, auto) / repeat(2, 1fr) 2fr;
  align-content: start;
  gap: 0.9375rem;
  margin: 1.25rem 0.9375rem;
}
.item {
  box-shadow: 2px 2px 7px #dadada;
  background: #fff;
  padding: 1rem;
}
.item > h2 {
  font-weight: normal;
  font-size: 1.25rem;
}

@media (max-width: 85rem) {
  .content {
    grid: repeat(3, auto) / repeat(3, 1fr);
  }
  .content > *:nth-child(3) {
    grid-row: 4;
    grid-column: span 3;
  }
}

@media (max-width: 75rem) {
  .content {
    grid: repeat(3, auto) / repeat(2, 1fr);
  }
  .content > *:nth-child(3) {
    grid-row: 4;
    grid-column: span 2;
  }
}

@media (max-width: 55rem) {
  .content {
    grid: repeat(3, auto) / 1fr;
  }
  .content > *:nth-child(3) {
    grid-row: 7;
    grid-column: span 1;
  }
  .content > *:nth-child(6) {
    grid-row: 6;
  }
}
